.carousel {
    
    height: 100vh;
    padding: 20px;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}